<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Narrativ</title>
    <%- include("../partials/css.ejs") %>
    <%- include("../partials/font.ejs") %>
    <%- include("../partials/favicon.ejs") %>
    <script type="module" src="/dist/jquery.min.js"></script>
    <link rel="manifest" href="/manifest.json">
  </head>
  
  <body class="bg-main">
    <% if (locals.user) { %>

      <% if (locals.isCreatingPost) { %>

        <%- include("../pages/crud/create.ejs") %>

      <% } else if (locals.isEditingPost) { %>

        <%- include("../pages/crud/update.ejs", locals.blog._data) %>

      <% } else { %>

        <% if (locals.isViewingBlog) { %>
          
          <%- include("../pages/home/homeMain.ejs", { user: locals.user, isViewingBlog: locals.isViewingBlog, blog: locals.blog }) %>

        <% } else if (locals.isSearchingPost) { %>

          <%- include("../pages/home/homeMain.ejs", { user: locals.user, isSearchingPost: locals.isSearchingPost, query: locals.query, blogs: locals.blogs }) %>

        <% } else { %>

          <%- include("../pages/home/homeMain.ejs", { user: locals.user, isPostExist: locals.isPostExist }) %>

        <% } %>

      <% } %>

    <% } else { %>

      <%- include("../pages/login.ejs", locals.error); %>

    <% } %>
    <script type="module" src="/js/index.js"></script>
  </body>
</html>