<div class="position-absolute">
  <div class="back-to-top-home container position-fixed bg-primary rounded-circle d-flex justify-content-center align-items-center">
    <i class="fa fa-chevron-up"></i>
  </div>
</div>

<div class="container py-5 min-vh-100">
  <div class="row g-sm-5 g-0">
    <% const blogs = locals.user._data.blogs; %>
    <% for (let i = 0; i < blogs.length; ++i) { %>
      <% const blog = blogs[i]._data %>
      <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div id="<%= `id-blog${blog.id}` %>" class="d-none"><%= blog.id %></div>

        <div class="card bg-main border-0">
          <div class="img-container position-relative">
            <div class="img-inner-container position-relative overflow-hidden rounded-4">
              <a href="posts/<%= blog.id %>">
                <img src="<%= blog.image.base64image %>" class="actual-image-thumbnail card-img-top rounded-4" alt="image">
              </a>
            </div>

            <button type="button" class="ellipsis-container border-0 rounded-circle position-absolute">
              <i class="fa fa-ellipsis-v"></i>
            </button>

            <div class="edit-delete-container container px-0 bg-primary position-absolute w-40 rounded-3 bg-white shadow">
              <div class="edit-container open-sans-regular rounded-top-3">
                <a href="posts/<%= blog.id %>/edit" class="btn open-sans-regular d-block text-start">
                  <div class="symbol-text">
                    <i class="fa fa-edit me-2"></i>
                    <span>Edit</span>
                  </div>
                </a>
              </div>

              <div class="delete-container open-sans-regular rounded-bottom-3">
                <button type="button" class="btn open-sans-regular">
                  <div class="symbol-text red-danger">
                    <i class="fa fa-trash-can me-2"></i>
                    <span class="delete-option">Delete</span>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <div class="card-body px-0">
            <h3 class="blog-title-thumbnail card-title montserrat-bold mb-3"><a href="posts/<%= blog.id %>" class="text-black text-decoration-none"><%= blog.title %></a></h3>
            <h6 class="card-subtitle mb-3 text-muted open-sans-regular"><%= blog.subtitle %></h6>
            <p class="card-text open-sans-semi-bold">By <%= blog.author.name %></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>