<%- include("../partials/header.ejs", locals.user._data) %>

<% if (!locals.isPostExist) { %>
  <div class="container d-flex justify-content-center align-items-center min-vh-100 col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="image-hero col-10 col-sm-8 col-lg-6">
        <img src="/images/home/side-image-no-post.jpg" class="d-block mx-lg-auto img-fluid rounded-4" alt="making blog" loading="lazy">
      </div>
  
      <div class="col-lg-6">
        <h1 class="display-5 montserrat-bold fw-bold lh-1 mb-4">Ready to Share Your First Story?</h1>
  
        <p class="lead open-sans-regular mb-5">
          Your journey as a writer starts here! We're excited to see what you'll create.
        </p>
  
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <form action="/posts/new" method="get">
            <button type="submit" id="create-your-first-post" class="btn bg-home-button home-button-text btn-lg rounded-5 px-4 me-md-2 open-sans-bold">
              Create your first post
              <i class="fa fa-chevron-right home-button-chevron ms-sm-3 ms-2"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
<% } else { %>
  <div class="position-absolute">
    <div class="back-to-top-home container position-fixed bg-primary rounded-circle d-flex justify-content-center align-items-center">
      <i class="fa fa-chevron-up"></i>
    </div>
  </div>
  
  <div class="container py-5 min-vh-100">
    <div class="row g-sm-5 g-0">
      <% const blogs = locals.user._data.blogs; %>
      <% for (let i = 0; i < blogs.length; ++i) { %>
        <% const blog = blogs[i]._data %>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="id_blog d-none">
            <%= blog.id %>
          </div>

          <div class="card bg-main border-0">
            <div class="img-container position-relative">
              <div class="img-inner-container position-relative overflow-hidden rounded-4">
                <a href="">
                  <img src="<%= blog.image.base64image %>" class="actual-image-thumbnail card-img-top rounded-4" alt="image">
                </a>
              </div>
  
              <button type="button" class="ellipsis-container border-0 rounded-circle position-absolute">
                <i class="fa fa-ellipsis-v"></i>
              </button>
  
              <div class="edit-delete-container container px-0 bg-primary position-absolute w-40 rounded-3 bg-white shadow">
                <div class="edit-container open-sans-regular rounded-top-3">
                  <a href="" class="btn open-sans-regular">
                    <div class="symbol-text">
                      <i class="fa fa-edit me-2"></i>
                      <span>Edit</span>
                    </div>
                  </a>
                </div>
  
                <div class="delete-container open-sans-regular rounded-bottom-3">
                  <button type="button" class="btn open-sans-regular">
                    <div class="symbol-text red-danger">
                      <i class="fa fa-trash-can me-2"></i>
                      <span class="delete-option">Delete</span>
                    </div>
                  </button>
                </div>
              </div>
            </div>
  
            <div class="card-body px-0">
              <h3 id="blog-title-thumbnail" class="card-title montserrat-bold mb-3"><a href="" class="text-black text-decoration-none"><%= blog.title %></a></h3>
              <h6 class="card-subtitle mb-3 text-muted open-sans-regular"><%= blog.subtitle %></h6>
              <p class="card-text open-sans-semi-bold">By <%= blog.author %></p>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>

  <%- include("../pages/crud/delete.ejs", locals.user._data.blogs._data) %>
<% } %>

<%- include("../partials/footer.ejs") %>